<%- include('partials/header') %>

<div class="container">
  
</div>
<div class="jumbotron">
  <div class="row">
    <div class="col-sm">
      <img src="https://new-img.patrika.com/upload/2021/04/20/untitled_4_6809066_835x547-m.png" alt="cylinder"/>
    </div>
    <div class="col-sm">
      <h1 class="display-4">Find Oxygen Cylinder for Needy Ones!</h1>
      <p class="lead">Get Accurate and geniune details for all nearby Oxygen Cylinder Providers around Kolkata city.</p>
      <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="/newrec" role="button">Add More Suppliers</a>
    </div>
  </div>
 
</div>

<%   usersList.forEach(user => { %>

  <div class="card shadow">
          <div class="card-header bg-info text-white">
            Oxygen Supplier #<%= user._id %>
          </div>
          <div class="card-body">
            <h5 class="card-title user-select-none">SUPPLIER: <%= user.name %></h5>
            <p class="card-text">Phone Number: <%= user.phone %></p>
            <p class="card-text user-select-none">Address: <%= user.address %></p>
            <a href="/post/<%= user._id %>" class="btn btn-primary">View Details</a>
          </div>
        </div>

<%    })  %>

  <%- include('partials/footer') %>
